<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}HTMX Supabase Login{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='output.css') }}" />
  </head>
  <body
    class="bg-gray-100 dark:bg-neutral-800"
    style="
      background: url(https://preline.co/assets/svg/examples/polygon-bg-element.svg);
    "
  >
    <!-- <div class="container mx-auto px-4"> -->

    {% block content %}{% endblock %}

    <!-- </div> -->
  </body>
</html>
