<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}CVSAAS | Login{% endblock %}</title>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.3"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', path='output.css') }}" />
    <script src="{{ url_for('static', path='js/htmx.js') }}" defer></script>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://preline.co/assets/css/main.min.css"> -->
    
  </head>
  <body
    class="bg-gray-100 dark:bg-neutral-800"
    style="background: url(/static/img/body_bg.svg)"
  >
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', path='js/preline.js') }}" defer></script>
  </body>
</html>
